<% if user_signed_in? %>
  <%= form_with(model: [ @film, @film.comments.build ], local: true) do |form| %>
    <% if current_user.username  %>
      <% values=current_user.username %>
    <% else %>
      <% values=current_user.email %>
    <% end %>
    <p style="display: none;"><%= form.text_field :commenter, value:values %></p>
    <p style="display: none;"><%= form.text_field :user_id, value:current_user.id %></p>
    <div class="form-group">
    <%= form.text_area :body, class:"form-control form_comments", placeholder:"comment", required: true, minlength:"3", maxlength:"400"%>
    </div>
    <p>
      <button type="submit" class="btn btn-success">Add comment</button>
    </p>

  <% end %>
<% end %>
