<h2>Favorites film:</h2>


<% current_user.favorites.each do |favorite| %>
  <%= link_to favorite.film.name, favorite.film %><br>
<% end %>
<hr>
<h2>Albums: <%= link_to "Create your album",  new_album_path, class:"btn btn-success" %></h2>
<% Album.where(user_id: current_user).each do |s| %>

  <%= link_to s.name, album_path(s) %><br/>
<% end %>
<hr>