
<h1>Edit film</h1>
<%= form_for @film do |f| %>
  <%= render partial: "form", locals: {f:f} %>
  <label class="btn btn-primary">
    Add preview
    <span style="display:none;">
    <%= f.file_field :picture %>
    </span>
  </label>
  <p><%= f.submit "Edit Film",class:"btn btn-success"  %></p>
<% end %>
